@font-face {
    font-family: 'Yanone Kaffeesatz Regular';
    src: url('media/YanoneKaffeesatz-Regular.woff') format('woff')
}

:root {
    --background: #2b3d25;
    --text: #cdffbd;
    --linktext: #9fff80;
}

html {
    background-color: var(--background);
}

body {
    font-size: 1.8rem;
    color: var(--text);
    background-color: var(--background);
    margin: auto;
    max-width: 60em;
    cursor: url('media/gavel.svg'), auto;
    font-family: 'Yanone Kaffeesatz Regular';
    padding: 14px;
}

a {
    color: var(--linktext);
}